@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
p {
  font-size: 12px; 
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 46px;
}

h2 {
  font-size: 36px;
  font-family: "Roboto Condensed", sans-serif;

}
h2 p{
  font-family: "Roboto", sans-serif;
  margin-top:0;
}
label {
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
}
button {
  border: none;
  outline: 0;
  font-weight:400;
  font-family: "Roboto", sans-serif;
}
button:focus {
  outline: 0;
}

label{
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
display: block;
}

input{
  height:41px;
  outline:0;
  border-radius: 6px;
  font-size: 12px;
  width:100%;
}